@layer components {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  /*CURRENT*/
  .current-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box-current-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10rem;
    border: 1px solid var(--color-border-card-light);
    color: var(--color-card-text-light);
    height: 8rem;
    padding: 0.5rem;
    border-radius: 18px;
    background-color: var(--color-card-light);
    opacity: 0.9;
    font-size: 0.9rem;
    /* background-color: aqua; */
  }
  /*DAILY*/
  .current-daily-container {
    display: flex;
    flex-direction: column;
  }
  .box-daily-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    height: 8rem;
    border: 1px solid var(--color-border-card-light);
    color: var(--color-card-text-light);
    padding: 0.5rem;
    border-radius: 18px;
    background-color: var(--color-card-light);
    opacity: 0.9;
    font-size: 0.9rem;
  }
  .box-hourly-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;;
    color: var(--color-card-text-light);
    border-radius: 12px;
    background-color: var(--color-hourly-bg-card-light);
    opacity: 0.9;
    font-size: 0.9rem;
  }
}
